{% extends 'base.html.twig' %}

{% block title %}Hello PruebitaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/la-tiendita/src/Controller/PruebitaController.php'|file_link(0) }}">src/Controller/PruebitaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/la-tiendita/templates/pruebita/index.html.twig'|file_link(0) }}">templates/pruebita/index.html.twig</a></code></li>
    </ul>
    <h1 class="text-center">sdaas</h1>
    <div class="container">
        <h3 class="alert alert-info">SALUDOSSS</h3>
    </div>
    <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
</div>
{% endblock %}
